
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->

<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button type="button" (click)="addToCart(product)">
  Add to Cart
  </button>

  <button type="button" (click)="share()" style="margin-left: 5px">
  Share
  </button>

  <app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
  <p #p>Content Children Content</p>
  <div>this is a custom thing</div>
  </app-product-alerts>

</div>

<div style="margin-top: 50px;">
<!--ngModel benötigt das Forms Module im app.modele-->
<!--2-way data binding verbindet Component und View
      value von input ist this.text
      this.text = value von input
      element ist eine Referenz zum Input HTML Element -->
<input [(ngModel)]="text" #ctrl="ngModel" #element name="myname">
<h2>{{ text }}</h2>
<h2>{{ element.name }}</h2>

<!--ngModel benötigt das Forms Module im app.modele
    ngModel ist eine Form Control Directive
    #ctrl="ngModel" übergibt die Directive an lokale
    Variable ctrl
    #ctrl="ngModel" benötigt [(ngModel)]="text" -->
<input [(ngModel)]="text" #ctrl2="ngModel" name="name">
<p>Valid: {{ ctrl2.status  }}</p>

<button #mybutton (click)="setValue()">Set value</button>
</div>
